* {
    padding: 0;
    margin: 0;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;   
font-size: 20px;
font-weight: 1000;

}

.main-header {
   margin: 20px;
    height: 150px;
    border-radius: 10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a {
    color: black;
}
 a:link{
    text-decoration: none;
 }
 a:hover{
    text-decoration: underline;
 }
.list-item {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}